@media (max-width: 2560px) {
    .banner-image {
        width: 35%;
        right: 11%;
        top: -11%;
    }
    .banner{
        padding-bottom: 3%;
    }
    .bg-about {
        width: 40%;
    }
    .img-exp {
        top: 6%;
        left: 12%;
        width: 35%;
    }
    .img-project-done {
        width: 35%;
    }
    .experience {
        padding-top: 5%;
    }
    .work {
        padding-top: 0%;
        padding-bottom: 18%;
    }
}
@media (max-width: 1920px){
    .banner-image {
        width: 45%;
        right: 4%;
        top: -5%;
    }
    .bg-about {
        width: 50%;
    }
    .img-exp {
        top: 6%;
        left: 5%;
        width: 42%;
    }
}
@media (max-width: 1600px){
    .banner-image {
        width: 50%;
        right: 2%;
        top: 1%;
    }
    .img-exp {
        top: 9%;
        left: 5%;
        width: 41%;
    }
    .img-project-done {
        width: 40%;
    }
}
@media (max-width: 1440px){
    .banner-image {
        width: 50%;
        right: 2%;
        top: 1%;
    }
    .img-exp {
        top: 10%;
        left: 4%;
        width: 44%;
    }
}
@media (max-width: 1024px) {
    .banner-caption h1,
    .banner-caption h2 {
        font-size: 32px;
    }
    .pie-wrapper {
        margin: 20px;
    }
    .about-caption-1 {
        padding-bottom: 5%;
    }
}
@media (max-width: 800px) {
    .social-links {
        display: none;
    }
    .menu-icon {
        width: 100%;
    }
    .navbar-toggler-icon {
        background-image: none !important;
    }
    .navbar-light .navbar-toggler {
        border: 0;
    }
    .navbar-nav {
        padding-left: 2%;
        padding-top: 2%;
        padding-bottom: 2%;
    }
    .banner-caption {
        margin-top: 25%;
        margin-bottom: 40%;
    }
    .img-built {
        width: 60%;
    }
    .banner-image {
        margin-top: 0;
    }
    .banner-caption h1,
    .banner-caption h2 {
        font-size: 26px;
    }
    .banner-caption h6 {
        font-size: 14px;
        line-height: 20px;
        padding-top: 3%;
        padding-bottom: 3%;
    }
    .get-in-touch {
        font-size: 14px;
    }
    .about h2,
    .experience h2,
    .form h2,
    .work h2 {
        font-size: 22px;
    }
    .about-caption-1 li,
    .about-caption-1 p,
    .form p,
    .work p {
        font-size: 14px;
        line-height: 22px;
    }
    .about-caption h1 {
        font-size: 24px;
    }
    .pie-wrapper {
        position: relative;
        margin-left: 24%;
        margin-top: 10%;
        margin-bottom: 10%;
        margin-right: 20%;
    }
    .know-more,
    .smt-btn {
        font-size: 12px;
        padding: 5px 10px;
    }
    .work-details h3 {
        font-size: 12px;
    }
    .form-control {
        font-size: 14px;
    }
}
@media (max-width: 480px) {
    .banner-caption {
        text-align: center;
        position: relative;
        top: 30%;
        left: 0%;
        z-index: 9999;
        margin-bottom: 60%;
    }
    .get-in-touch {
        font-size: 16px;
    }
    .banner-caption p {
        font-size: 16px;
    }
    .banner-caption h1,
    .banner-caption h2 {
        font-size: 32px;
    }
    .banner-caption h6 {
        font-size: 16px;
        line-height: 25px;
        padding-right: 5%;
        padding-bottom: 5%;
    }
    .banner-image {
        width: 100%;
        right: 0%;
        top: -5%;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    .photo {
        width: 100%;
    }
    .about-caption {
        padding-bottom: 5%;
    }
    .social-links li {
        text-align: center;
        padding-right: 10%;
        padding-left: 0%;
    }
    .social-links ul {
        display: -webkit-inline-box;
        padding-left: 0;
        margin-top: 0%;
    }
    .about-content:first-child {
        padding-left: 0%;
    }
    .fa.fa-linkedin-square {
        border: 1px solid #638c7b;
        background-color: #638c7b;
        width: 60px;
        height: 60px;
        padding: 26%;
        font-size: 30px;
    }
    .fa.fa-envelope {
        border: 1px solid #638c7b;
        background-color: #638c7b;
        width: 60px;
        height: 60px;
        padding: 26%;
        font-size: 24px;
    }
    .about-content {
        padding-left: 0;
    }
    .about-caption h1 {
        font-size: 30px;
    }
    .about-caption p {
        font-size: 18px;
    }
    .about h2,
    .experience h2,
    .form h2,
    .work h2 {
        font-size: 30px;
        padding-top: 5%;
    }
    .about-caption-1 li,
    .about-caption-1 p,
    .form p,
    .work p {
        font-size: 16px;
        line-height: 26px;
    }
    .contact-lightbox {
        width: 90%;
    }
    .lightbox-body {
        margin: 20% auto;
    }
    .contact-caption p {
      padding: 10px;
    }
    .about-caption-1 h6,
    .about-caption-1 h6 a {
        font-size: 18px;
        padding-top: 5%;
    }
    .about-caption-1 h5 {
        font-size: 18px;
        line-height: 28px;
    }
    .bg-about {
        width: 105%;
        bottom: -2%;
    }
    .exp-caption{
        padding-top: 5%;
    }
    .img-exp{
        position: relative;
        width: 100%;
        top: 0;
        left: 0;
    }
    .about-1 {
        margin-top: 0%;
    }
    .experience {
        padding-top: 5%;
        padding-bottom: 40%;
    }
    .img-built {
        width: 100%;
        bottom: -3%;
    }
    .work {
        padding-top: 0%;
        padding-bottom: 70%;
    }
    .img-project-done {
        width: 100%;
    }
    .exp-caption, .about-caption-1 h5, .about-caption-1 p{
        text-align: center;
    }
    .about {
        padding-bottom: 60%;
        padding-top: 0%;
    }
    .abt-caption{
        text-align: center;
    }
    .work-details h3 {
        font-size: 22px;
    }
    .work-details {
        margin-top: 2%;
        margin-bottom: 5%;
    }
    .work-row {
        padding-top: 0;
        padding-bottom: 0;
    }
    .know-more,
    .smt-btn {
        font-size: 16px;
        padding: 10px 20px;
    }
    .form-control {
        font-size: 15px;
    }
    .contact-caption {
        padding-bottom: 8%;
    }
    .form {
        padding-bottom: 10%;
    }
    .sub-footer {
        padding-top: 4%;
        padding-bottom: 4%;
    }
    .sub-footer-caption a,
    .sub-footer-caption p {
        font-size: 16px;
    }
    .fa.fa-mobile {
        font-size: 32px;
    }
}
@media (max-width: 414px) {
    .banner-caption {
        top: 25%;
    }
    .about-caption-1 li, .about-caption-1 p, .form p, .work p {
        font-size: 15px;
        line-height: 26px;
    }
   
}
@media (max-width: 412px){
    .experience {
        padding-top: 5%;
        padding-bottom: 50%;
    }
    .img-built {
        width: 100%;
        bottom: -2%;
    }
}
@media (max-width: 384px) {
    .navbar-brand {
        margin-right: -3rem;
    }
    .banner-caption h6 {
        font-size: 16px;
        line-height: 24px;
    }
    .get-in-touch {
        font-size: 16px;
    }
    .about-caption h1 {
        font-size: 26px;
    }
    .about-caption p {
        font-size: 16px;
    }
    .fa.fa-linkedin-square {
        width: 50px;
        height: 50px;
        padding: 26%;
        font-size: 25px;
    }
    .fa.fa-envelope {
        width: 50px;
        height: 50px;
        padding: 26%;
        font-size: 20px;
    }
    .experience {
        padding-top: 5%;
        padding-bottom: 50%;
    }
    .img-built {
        width: 100%;
        bottom: -1%;
    }
    .about h2,
    .experience h2,
    .form h2,
    .work h2 {
        font-size: 24px;
        padding-top: 5%;
    }
    .about-caption-1 li,
    .about-caption-1 p,
    .form p,
    .work p {
        font-size: 15px;
        line-height: 24px;
    }
    .about-caption-1 h6,
    .about-caption-1 h6 a {
        font-size: 18px;
        padding-top: 5%;
    }
    .about-caption-1 h5 {
        font-size: 16px;
        line-height: 24px;
    }
    .pie-wrapper {
        margin-left: 23%;
        margin-top: 10%;
        margin-bottom: 10%;
        margin-right: 25%;
    }
    .work-details h3 {
        font-size: 20px;
    }
    .know-more,
    .smt-btn {
        font-size: 15px;
        padding: 10px 20px;
    }
    .form-control {
        font-size: 14px;
    }
    .sub-footer-caption a,
    .sub-footer-caption p {
        font-size: 14px;
    }
    .fa.fa-mobile {
        font-size: 28px;
    }
}
@media (max-width: 360px) {
    .banner-image {
        top: 0%;
    }
    .banner-caption {
        top: 30%;
    }
    .banner-caption h6 {
        font-size: 15px;
        line-height: 22px;
    }
    .banner-caption p {
        font-size: 14px;
    }
    .banner-caption h1, .banner-caption h2 {
        font-size: 30px;
    }
    .get-in-touch, .btn-resume {
        font-size: 14px;
    }
    .about {
        padding-bottom: 60%;
        padding-top: 5%;
    }
    .about-caption-1 li,
    .about-caption-1 p,
    .form p,
    .work p {
        font-size: 14px;
        line-height: 22px;
    }
    .about-caption h1 {
        font-size: 24px;
    }
    .about-caption p {
        font-size: 14px;
    }
    .about h2,
    .experience h2,
    .form h2,
    .work h2 {
        font-size: 22px;
        padding-top: 5%;
    }
    .about-caption-1 h6,
    .about-caption-1 h6 a {
        font-size: 16px;
        padding-top: 5%;
    }
    .about-caption-1 h5 {
        font-size: 15px;
        line-height: 22px;
    }
    .know-more,
    .smt-btn {
        font-size: 13px;
        padding: 10px 20px;
    }
}
@media (max-width: 320px) {
    .navbar-light .navbar-nav .nav-link {
        font-size: 14px;
    }
    .banner-caption h1,
    .banner-caption h2 {
        font-size: 28px;
    }
    .banner-caption p {
        font-size: 12px;
    }
    .banner-caption h6 {
        font-size: 12px;
        line-height: 22px;
    }
    .get-in-touch {
        font-size: 12px;
    }
    .work-details h3 {
        font-size: 14px;
    }
    .form-control {
        font-size: 12px;
    }
    .sub-footer-caption a,
    .sub-footer-caption p {
        font-size: 12px;
    }
    .pie-wrapper {
        margin-left: 18%;
        margin-top: 10%;
        margin-bottom: 10%;
        margin-right: 18%;
    }
    .about-caption-1 li, .about-caption-1 p, .form p, .work p {
        font-size: 12px;
        line-height: 22px;
    }
}
